* {
    margin: 0;
    padding: 0;
    
}
.text {
    margin-top: 40px;
    text-align: center;
   
}
.text1 {
    margin-top: 40px;
    margin-left: 40%;
    margin-bottom: 25px;
}
.text2 {
    margin-top: 25px;
    text-align: center;
    margin-bottom: 40px;
}
.text3 {
    margin-top: 40px;
    margin-left: 38%;
    margin-bottom: 40px;
}
.low{
    
    margin-left: 35.5%;
    margin-bottom: 25px;
}
.text4 {
    margin-top: 25px;
    text-align: center;
    margin-bottom: 40px;
}
.text5 {
    margin-top: 25px;
    margin-left: 46.5%;
    margin-bottom: 40px;
}
.text6 {
    margin-top: 25px;
    text-align: center;
    margin-bottom: 40px;
}
.text7 {
    margin-top: 40px;
    margin-left: 44%;
    margin-bottom: 40px;
}
.low2{
    text-align: center;
    margin-bottom: 40px;
}